---
---
$code-bg-color:#FFD7D7;
$code-text-color:#333333;
$border-color:#AAAAAA;
$section-headings-color:#333333;
@import "{{ site.theme }}";
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333333;
}

.I {
  font-weight:bold;
  color: black;
}
.II1{
  font-weight:bold;
  color: navy;
}
.II2{
  font-weight:bold;
  color: brown;
}

.page-header {
  @include large {
    padding: 0.5rem 0.5rem;
  }
  @include medium {
    padding: 0.5rem 0.5rem;
  }
  @include small {
    padding: 0.5rem 0.5rem;
  }
}
.project-tagline {
  @include large {
    font-size: 1.8rem;
  }
  @include medium {
    font-size: 1.5rem;
  }
  @include small {
    font-size: 1.2rem;
  }
}



